$card-bg: $white;
$card-border: $athens-grey;

$card-padding-y: 1.5rem;
$card-padding-x: 1rem;

$card-padding-y-md: 2.75rem;
$card-padding-x-md: $card-padding-y-md;

$card-padding-y-lg: $card-padding-y-md;
$card-padding-x-lg: $card-padding-y-lg;

.card {
  border: solid 1px $card-border;
  background-color: $card-bg;
  border-radius: 8px;

  &-body {
    padding: $card-padding-y $card-padding-x;
    border-bottom: solid 1px $card-border;

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: 768px) {
    &-body {
      padding: $card-padding-y-md $card-padding-x-md;
    }
  }

  @media (min-width: 992px) {
    &-body {
      padding: $card-padding-y-lg $card-padding-x-lg;
    }
  }
}
