$datepicker__background-color: $desert-storm !default;
$datepicker__border-color: $athens-grey !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: $gull-grey !default;
$datepicker__selected-color: $chateau-green !default;
$datepicker__text-color: $subtle-grey !default;
$datepicker__header-color: $black-pearl !default;
$datepicker__navigation-disabled-color: lighten(
  $datepicker__muted-color,
  10%
) !default;

$datepicker__border-radius: 0.5rem !default;
$datepicker__day-margin: 0.166rem !default;
$datepicker__font-size: 0.8rem !default;
$datepicker__font-family: $font-family-base !default;
$datepicker__item-size: 1.7rem !default;
$datepicker__margin: 0.4rem !default;
$datepicker__navigation-size: 0.45rem !default;
$datepicker__triangle-size: 8px !default;
