html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.x-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.x-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .x-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .x-margin {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (min-width: 992px) {
  .x-padding {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  .x-margin {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
}
